<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to E2Delivery</title>
</head>

<body>

    <%= render :partial => 'shared/navigation', :locals => {:page => "home"} %>

    <div class="container">
        <div class="starter-template">
            <h1>Welcome to E2Delivery</h1>
            <p class="lead">E2Delivery is for end to end delivery
                <br> We take care of all your local pickup and delivery needs at a reasonable, precalculated cost
            </p>
        </div>

        <div class="order-button">
            <%= link_to 'Place New Delivery Order', new_order_path, class: 'btn btn-success' %>
        </div>
    </div><!-- /.container -->

</body>
</html>

