<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to E2Delivery</title>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">E2Delivery</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <h1>Welcome to E2Delivery</h1>
            <p class="lead">E2Delivery is short for end to end delivery
                <br> We take care of all your local pickup and delivery needs
            </p>
        </div>

        <div class="order-button">
            <%= link_to 'Place New Delivery Order', new_order_path, class: 'btn btn-success' %>
        </div>

    </div><!-- /.container -->

</body>
</html>

