<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome to E2Delivery</title>
</head>

<body>

    <%= render :partial => 'shared/navigation', :locals => {:page => "about"} %>

    <div class="container">
        <div class="starter-template">
            <h1>Mission</h1>
            <p class="lead">To provide reliable, secure and hasslefree end to end delivery service
            </p>

            <h1>About</h1>
            <p class="lead">This service is started by <a href="https://www.linkedin.com/in/shashank-mandil-3618a318/">
                Shashank Mandil</a>  & <a href="https://www.linkedin.com/in/matthew-leichter-66476043/">Matthew Leichter</a>
                . We belive that customer satisfaction is utmost important for a company. We focus on providing best service
                in all our deliveries.
            </p>
        </div>
    </div><!-- /.container -->

</body>
</html>

