<html lang="en">
<head>
    <title>Welcome to E2Delivery</title>
</head>

<body>

<%= render :partial => 'shared/navigation', :locals => {:page => "new_charges"} %>

<div class="container">
    <div class="starter-template">
        <h1>Thank you for completing the payment !</h1>
        <p class="lead"> You can now sit back and relax. We will take care of your item delivery.<br/>
            Next steps for us are as follows : <br/>
        </p>
        <div align="left" class="lead">
            1)<br/>
            2)<br/>
            3)<br/>
            4)<br/>
        </div>
    </div>
</div><!-- /.container -->

</body>
</html>